body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

.menu-icon {
    position: absolute;
    left: 10px;
    top: 10px; /* Ajusta según sea necesario */
    font-size: 30px;
    cursor: pointer;
    z-index: 1000; /* Asegura que el ícono del menú esté por encima de la imagen */
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #d8486a;
}

.side-menu .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
}

.header-image {
    position: relative;
    text-align: center;
    margin-bottom: 40px; /* Espacio debajo de la imagen de cabecera */
}

.header-image img {
    width: 100%;
    height: auto;
    max-height: 800px; /* Ajusta según sea necesario para mantener una imagen más alta */
}

.curvatura {
    position: absolute;
    bottom: -10px; /* Ajusta la posición según sea necesario */
    width: 100%;
    height: 120px; /* Incrementa la altura para una curvatura más pronunciada */
    background-color: #ffffff;
    clip-path: ellipse(60% 100% at 50% 100%); /* Ajusta los valores para una curvatura más pronunciada */
}

.logo-container {
    width: 130px; /* Ajusta el tamaño del contenedor del logo */
    height: 130px;
    border-radius: 50%; /* Para hacerlo circular */
    background-color: #ffffff; /* Color de fondo del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Para recortar la imagen del logo si es necesario */
    position: absolute;
    bottom: 30px; /* Ajusta la posición vertical del círculo para que esté encima de la curvatura */
    left: calc(50% - 50px + 45px); /* Centra horizontalmente y mueve 20px a la derecha */
    transform: translateX(-50%); /* Centra horizontalmente respecto al contenedor */
    z-index: 2; /* Coloca el logo encima de la curvatura */
}

.nombre-joyeria {
    position: absolute;
    bottom: -40px; /* Ajusta la posición según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    background-color: #ffffff; /* Fondo blanco para mejor visibilidad */
    padding: 5px 10px; /* Añade padding para mejorar la presentación */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Playfair Display', serif;
}

.texto-adicional {
    position: absolute;
    bottom: -80px; /* Ajusta la posición según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: #333;
}

.catalogo {
    position: relative; /* Cambia a relativo para ajustar al contenido */
    overflow-x: auto; /* Hace que los elementos sean desplazables horizontalmente */
    white-space: nowrap; /* Evita que los elementos se dividan en varias líneas */
    text-align: center; /* Centra el contenido horizontalmente */
    padding: 40px 0; /* Añade espacio alrededor del contenido */
}

.categorias {
    display: inline-block; /* Mantiene las categorías en una línea */
    margin-top: 30px;
}

.categoria {
    display: inline-block; /* Mantiene las categorías en una línea */
    text-align: center; /* Centra el contenido horizontalmente */
    margin:  5px; /* Espacio entre cada categoría */
}

.categoria img {
    width: 180px; /* Tamaño de las imágenes */
    height: auto;
    cursor: pointer;
    border-radius: 10px;
}

.nombre-categoria {
    font-size: 16px; /* Tamaño del texto del nombre de la categoría */
    margin-top: 5px; /* Espacio superior del nombre de la categoría */
}
/* Mantén los estilos anteriores y añade estos ajustes */

.contenido-principal {
    display: flex; /* Usa flexbox para colocar elementos en línea */
    justify-content: space-between; /* Espacia los elementos a lo largo del contenedor */
    align-items: flex-start; /* Alinea los elementos al principio verticalmente */
    padding: 40px; /* Añade espacio alrededor del contenido */
}

.categorias {
    display: flex; /* Usa flexbox para colocar categorías en línea */
    flex-direction: column; /* Apila las categorías verticalmente */
    justify-content: flex-start; /* Alinea las categorías al principio verticalmente */
}

.categoria {
    text-align: center; /* Centra el contenido horizontalmente */
    margin-bottom: 20px; /* Espacio entre cada categoría */
}

.categoria img {
    width: 180px; /* Tamaño de las imágenes */
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px; /* Espacio entre la imagen y el nombre de la categoría */
}

.nombre-categoria {
    font-size: 16px; /* Tamaño del texto del nombre de la categoría */
    color: #333;
}

.imagen-rectangular {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-left: 40px; /* Espacio entre las categorías y la imagen rectangular */
    margin-top: 45px;
}

.imagen-rectangular img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto;
    border-radius: 10px;
}
.ver-todo-btn {
    display: block;
    margin-top: 5px; /* Espacio entre el nombre de la categoría y el botón */
    text-decoration: none;
    background-color: #d8486a; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    padding: 8px 20px; /* Espacio interno del botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Efecto de transición */
}

.ver-todo-btn:hover {
    background-color: #333; /* Cambio de color al pasar el ratón sobre el botón */
}
